DATABASE_URL="postgresql://frete:frete@localhost:5434/frete"
SESSION_SECRET="troque-por-um-segredo-com-no-minimo-32-caracteres"
NODE_ENV="development"
DATABASE_URL_TEST="postgresql://frete:frete@localhost:5433/frete_test"
